

<sl-carousel class="carousel-thumbnails" autoplay loop pagination>
    <sl-carousel-item>
      <img
        alt="The sun shines on the mountains and trees (by Adam Kool on Unsplash)"
        src="https://picsum.photos/600/400?random=1"
        loading="lazy"
      />
    </sl-carousel-item>
    <sl-carousel-item>
      <img
        alt="A waterfall in the middle of a forest (by Thomas Kelly on Unsplash)"
        src="https://picsum.photos/600/400?random=2"
        loading="lazy"
      />
    </sl-carousel-item>
    <sl-carousel-item>
      <img
        alt="The sun is setting over a lavender field (by Leonard Cotte on Unsplash)"
        src="https://picsum.photos/600/400?random=3"
        loading="lazy"
      />
    </sl-carousel-item>
    <sl-carousel-item>
      <img
        alt="A field of grass with the sun setting in the background (by Sapan Patel on Unsplash)"
        src="https://picsum.photos/600/400?random=4"
        loading="lazy"
      />
    </sl-carousel-item>
    <sl-carousel-item>
      <img
        alt="A scenic view of a mountain with clouds rolling in (by V2osk on Unsplash)"
        src="https://picsum.photos/600/400?random=5"
        loading="lazy"
      />
    </sl-carousel-item>
  </sl-carousel>
  <div class="thumbnails">
    <div class="thumbnails__scroller">
      <img alt="Thumbnail by 1" class="thumbnails__image active" src="https://picsum.photos/600/400?random=1" />
      <img alt="Thumbnail by 2" class="thumbnails__image" src="https://picsum.photos/600/400?random=2" />
      <img alt="Thumbnail by 3" class="thumbnails__image" src="https://picsum.photos/600/400?random=3" />
      <img alt="Thumbnail by 4" class="thumbnails__image" src="https://picsum.photos/600/400?random=4" />
      <img alt="Thumbnail by 5" class="thumbnails__image" src="https://picsum.photos/600/400?random=5" />
    </div>
  </div>


  <style>
    .carousel-thumbnails {
      --slide-aspect-ratio: 3 / 2;
    }
  
    .thumbnails {
      display: flex;
      justify-content: center;
    }
  
    .thumbnails__scroller {
      display: flex;
      gap: var(--sl-spacing-small);
      overflow-x: auto;
      scrollbar-width: none;
      scroll-behavior: smooth;
      scroll-padding: var(--sl-spacing-small);
    }
  
    .thumbnails__scroller::-webkit-scrollbar {
      display: none;
    }
  
    .thumbnails__image {
      width: 64px;
      height: 64px;
      object-fit: cover;
      opacity: 0.3;
      will-change: opacity;
      transition: 250ms opacity;
  
      cursor: pointer;
    }
  
    .thumbnails__image.active {
      opacity: 1;
    }
  </style>
  
  <script>
    {
      const carousel = document.querySelector('.carousel-thumbnails');
      const scroller = document.querySelector('.thumbnails__scroller');
      const thumbnails = document.querySelectorAll('.thumbnails__image');
  
      scroller.addEventListener('click', e => {
        const target = e.target;
  
        if (target.matches('.thumbnails__image')) {
          const index = [...thumbnails].indexOf(target);
          carousel.goToSlide(index);
        }
      });
  
      carousel.addEventListener('sl-slide-change', e => {
        const slideIndex = e.detail.index;
  
        [...thumbnails].forEach((thumb, i) => {
          thumb.classList.toggle('active', i === slideIndex);
          if (i === slideIndex) {
            thumb.scrollIntoView({
              block: 'nearest'
            });
          }
        });
      });
    }
  </script>