<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="contact-section__title">Content</h2>
                <p class="contact-section__text">Picture, if you will, the evening sky ablaze with the last vestiges of daylight, painting the heavens in strokes of violet. It is a color that dances on the precipice of imagination, a hue that tantalizes the senses and beckons the soul to indulge in its lavish embrace. Like a fine wine, violet unfurls upon the canvas of existence, its depths swirling with mystery and allure.</p>
                <a href="#" class="contact-section__btn btn btn-primary">Only Fans</a>
                <br>
                <a href="#" class="contact-section__btn btn btn-primary">Twitter</a>
                <br>
                <a href="#" class="contact-section__btn btn btn-primary">Reddit</a>
                <br>
                <a href="#" class="contact-section__btn btn btn-primary">Blog</a>
            </div>
        </div>
    </div>
</section>
<style>
    .contact-section {
        padding: 100px 0;
        height: 80vh;
    }
</style>