<div class="video-container">
    <video autoplay muted loop>
        <source loading='lazy' src="https://github.com/ziggi24/violet/raw/main/static/heroVid2160.mp4" type="video/mp4" />
    </video>
</div>
<style>
    .video-container {
        height: fit-content;
        width: fit-content;
        position: absolute;
        top: -20%;
        left: -20%;
    }
    
    .video-container video {
      width: 100vw;
      height: 100vh;
      position: absolute;
      object-fit: cover;
      z-index: -100;
    }
</style>